meta:
  engine: 4.1.0

units:
  kx: cx
  ky: cy
  switch_hole: 14
  cap_x: 18
  cap_y: 18

  # PARAMETERS
  final_wall: 3
  glue_size: 12

points:
  zones:
    # --- 1. LEFT MODIFIERS ---
    sidepad:
      anchor:
        shift: [100, -100]
      columns:
        outer:
          key.column_net: P1
        inner:
          key.column_net: P0
      rows:
        mod:
          row_net: P2
        bottom:
          row_net: P3
        home:
          row_net: P4
        top:
          row_net: P5
        num:
          row_net: P6

    # --- 2. MAIN ALPHA MATRIX ---
    matrix:
      anchor:
        ref: sidepad_inner_num
        shift: [1.3kx, -3.9ky]
      columns:
        pinky:
          key.stagger: 0
          key.column_net: P7
        ring:
          key.stagger: 0.25ky
          key.column_net: P8
        middle:
          key.stagger: -0.25ky
          key.column_net: P9
        index:
          key.stagger: 0ky
          key.column_net: P10
      rows:
        mod:
          row_net: P2
        bottom:
          row_net: P3
        home:
          row_net: P4
        top:
          row_net: P5
        num:
          row_net: P6

    # --- 3. NAV STRIP ---
    nav:
      anchor:
        ref: matrix_index_num
        shift: [1.5kx, -3ky]
      columns:
        col:
          key.column_net: P16
      rows:
        top:
          row_net: P5
        mid:
          row_net: P4
        bot:
          row_net: P3

    # --- 4. THUMB CLUSTER ---
    thumb:
      anchor:
        ref: matrix_middle_mod
        shift: [2.1kx, -1.2ky]
        rotate: -40
      columns:
        left:
          key.column_net: P14
        right:
          key.column_net: P15
      rows:
        upper:
          row_net: P18
        lower:
          shift: [0kx, 0.5ky]
          row_net: P19

    # --- 5. MOUNTING HOLES ---
    mounting_tl:
      anchor:
        ref: sidepad_outer_num
        shift: [-0.6kx, 0.7ky]
      columns:
        col:
          key.skip: true
      rows:
        hole:
          row_net: GND
    mounting_tr:
      anchor:
        ref: matrix_index_num
        shift: [0.6kx, 0.6ky]
      columns:
        col:
          key.skip: true
      rows:
        hole:
          row_net: GND
    mounting_bl:
      anchor:
        ref: sidepad_outer_mod
        shift: [-0.6kx, -0.6ky]
      columns:
        col:
          key.skip: true
      rows:
        hole:
          row_net: GND
    mounting_br:
      anchor:
        ref: matrix_index_mod
        shift: [0.6kx, -0.6ky]
      columns:
        col:
          key.skip: true
      rows:
        hole:
          row_net: GND

  # --- 6. MIRROR (Creates the Right Side) ---
  mirror:
    ref: matrix_index_home # Flip across the index finger
    distance: 200          # Gap between the two halves

outlines:
  # 1. RAW KEYS (Hidden)
  _raw_left:
    - what: rectangle
      # Select everything that does NOT start with "mirror_"
      where: "/^sidepad_|^matrix_|^nav_|^thumb_/"
      size: [kx, ky]

  _raw_right:
    - what: rectangle
      # Select ONLY things that start with "mirror_"
      where: "/^mirror_/"
      size: [kx, ky]

  # 2. THE GLUE (Hidden)
  _glue_left:
    - what: outline
      name: _raw_left
      expand: glue_size

  _glue_right:
    - what: outline
      name: _raw_right
      expand: glue_size

  # 3. THE BOARDS (Visible)
  board_left:
    - what: outline
      name: _glue_left
      expand: -(glue_size - final_wall)
      fillet: 2

  board_right:
    - what: outline
      name: _glue_right
      expand: -(glue_size - final_wall)
      fillet: 2

  # 4. CUTOUTS & KEYCAPS
  _cutouts:
    - what: rectangle
      where: true
      size: [switch_hole, switch_hole]

  _mounting_left:
    - what: circle
      where: "/^mounting_/"
      radius: 1.1

  _mounting_right:
    - what: circle
      where: "/^mirror_mounting_/"
      radius: 1.1

  _keycaps:
    - what: rectangle
      where: true
      size: [cap_x, cap_y]
      fillet: 2

  # 5. PLATES
  plate_left:
    - what: outline
      name: board_left
    - what: outline
      name: _cutouts
      operation: subtract
    - what: outline
      name: _mounting_left
      operation: subtract

  plate_right:
    - what: outline
      name: board_right
    - what: outline
      name: _cutouts
      operation: subtract
    - what: outline
      name: _mounting_right
      operation: subtract

  # 6. PREVIEW
  preview_full:
    - what: outline
      name: board_left
    - what: outline
      name: board_right
      operation: stack
    - what: outline
      name: _keycaps
      operation: stack
    - what: outline
      name: _cutouts
      operation: stack

cases:
  # --- LEFT SIDE ---
  left_bottom:
    - what: outline
      name: board_left
      extrude: 2
  left_plate:
    - what: outline
      name: plate_left
      extrude: 1.5

  # --- RIGHT SIDE ---
  right_bottom:
    - what: outline
      name: board_right
      extrude: 2
  right_plate:
    - what: outline
      name: plate_right
      extrude: 1.5

pcbs:
  # --- LEFT PCB ---
  left:
    outlines:
      main:
        outline: board_left
    footprints:
      choc_hotswap:
        what: choc
        where: "/^sidepad_|^matrix_|^nav_|^thumb_/"
        params:
          keycaps: true
          reverse: true
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diode:
        what: diode
        where: "/^sidepad_|^matrix_|^nav_|^thumb_/"
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
          rotate: 180
      nicenano:
        what: nice_nano_back
        where:
          ref: matrix_index_home
          shift: [1.1kx, 0.5ky]
          rotate: 90
        params:
          orientation: down
      jstph:
        what: jstph
        where:
          ref: matrix_index_home
          shift: [1.1kx, -0.6ky]
          rotate: 90
        params:
            side: B
            pos: pos
            neg: GND
      slider:
        what: slider
        where:
            ref: matrix_index_home
            shift: [1.6kx, 0.5ky]
            rotate: 0
        params:
            side: B
            from: pos
            to: RAW
      mounting_hole:
        what: mountinghole
        where: "/^mounting_/"

  # --- RIGHT PCB ---
  right:
    outlines:
      main:
        outline: board_right
    footprints:
      choc_hotswap:
        what: choc
        where: "/^mirror_/"
        params:
          keycaps: true
          reverse: true
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diode:
        what: diode
        where: "/^mirror_/"
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
          rotate: 180
      nicenano:
        what: nice_nano_back
        where:
          ref: mirror_matrix_index_home
          shift: [1.1kx, 0.5ky]
          rotate: -90
        params:
          orientation: down
      jstph:
        what: jstph
        where:
          ref: mirror_matrix_index_home
          shift: [1.1kx, -0.6ky]
          rotate: 90
        params:
            side: B
            pos: pos
            neg: GND
      slider:
        what: slider
        where:
            ref: mirror_matrix_index_home
            shift: [1.6kx, 0.5ky]
            rotate: 180
        params:
            side: B
            from: pos
            to: RAW
      mounting_hole:
        what: mountinghole
        where: "/^mirror_mounting_/"
