meta:
  engine: 4.1.0

units:
  kx: cx
  ky: cy
  switch_hole: 14
  cap_x: 18
  cap_y: 18
  spacing: 0.75

  # PARAMETERS
  final_wall: 3
  glue_size: 12
  wall_thick: 2
  standoff_radius: 2.5
  insert_radius: 1.6

points:
  key:
    padding: ky + spacing
    spread: kx + spacing
  zones:
    # --- 1. LEFT MODIFIERS ---
    sidepad:
      anchor:
        shift: [100, -100]
      columns:
        outer:
          key.column_net: P1
        inner:
          key.column_net: P0
      rows:
        mod:
          row_net: P2
        bottom:
          row_net: P3
        home:
          row_net: P4
        top:
          row_net: P5
        num:
          row_net: P6

    # --- 2. MAIN ALPHA MATRIX ---
    matrix:
      anchor:
        ref: sidepad_inner_num
        shift: [1.3kx, -3.9ky]
      columns:
        pinky:
          key.stagger: 0
          key.column_net: P7
        ring:
          key.stagger: 0.25ky
          key.column_net: P8
        middle:
          key.stagger: -0.25ky
          key.column_net: P9
          rows:
            mod:
              # [top right bottom left]
              bind: [0, 0, 5, 0] # TODO: I am Trying to make the bottom key on the middle finger row
                                # push the outline out more (towards the bottom, but it is not working)
        index:
          key.stagger: 0ky
          key.column_net: P10
          rows:
            mod:
              bind: [5, 0, 0, 0] # TODO: push outline up here
      rows:
        mod:
          row_net: P2
        bottom:
          row_net: P3
        home:
          row_net: P4
        top:
          row_net: P5
        num:
          row_net: P6

    # --- 3. NAV STRIP ---
    nav:
      anchor:
        ref: matrix_index_num
        shift: [1.5kx, -3ky]
      columns:
        col:
          key.column_net: P16
      rows:
        top:
          bind: [5, 0, 0, 0] # TODO push outline up here.
          row_net: P5
        mid:
          row_net: P4
        bot:
          row_net: P3

    # --- 4. THUMB CLUSTER ---
    thumb:
      anchor:
        ref: matrix_middle_mod
        shift: [2.1kx, -1.2ky]
        rotate: -40
      columns:
        left:
          key.column_net: P14
        right:
          key.column_net: P15
      rows:
        upper:
          row_net: P18
        lower:
          shift: [0kx, 0.5ky]
          row_net: P19

    # --- 5. MOUNTING HOLES ---
    # (Removed zone-based mounting to use explicit footprints/outlines as per FlatFoxBlog)

  # --- 6. MIRROR (Creates the Right Side) ---
  mirror:
    ref: matrix_index_home # Flip across the index finger
    distance: 200          # Gap between the two halves

outlines:
  # 1. RAW KEYS (Hidden)
  _raw_left:
    - what: rectangle
      # Select everything that does NOT start with "mirror_"
      where: "/^sidepad_|^matrix_|^nav_|^thumb_/"
      size: [kx, ky]

  _raw_right:
    - what: rectangle
      # Select ONLY things that start with "mirror_"
      where: "/^mirror_/"
      size: [kx, ky]

  # 2. THE GLUE (Hidden)
  _glue_left:
    - what: outline
      name: _raw_left
      expand: glue_size

  _glue_right:
    - what: outline
      name: _raw_right
      expand: glue_size

  # 3. THE BOARDS (Visible)
  board_left_shape:
    - what: outline
      name: _glue_left
      expand: -(glue_size - final_wall)

  board_right_shape:
    - what: outline
      name: _glue_right
      expand: -(glue_size - final_wall)

  board_left:
    - what: outline
      name: board_left_shape
      fillet: 1

  board_right:
    - what: outline
      name: board_right_shape
      fillet: 1

  # 3.5 XL BOARDS (For Case Walls)
  xl_board_left:
    - what: outline
      name: board_left
      expand: wall_thick

  xl_board_right:
    - what: outline
      name: board_right
      expand: wall_thick

  # 4. CUTOUTS & KEYCAPS
  _cutouts:
    - what: rectangle
      where: true
      size: [switch_hole, switch_hole]

  _keycaps:
    - what: rectangle
      where: true
      size: [cap_x, cap_y]
      fillet: 2

  # 5. MOUNTING HOLES (For Threaded Inserts)
  mounting_left:
    - what: circle
      radius: insert_radius
      where:
        ref: sidepad_inner_home
        shift: [0.65kx, 1.0ky]
    - what: circle
      radius: insert_radius
      where:
        ref: sidepad_inner_home
        shift: [0.65kx, -0.85ky]
    - what: circle
      radius: insert_radius
      where:
        ref: matrix_index_home
        shift: [0.75kx, 0.8ky]
    - what: circle
      radius: insert_radius
      where:
        ref: matrix_index_home
        shift: [0.75kx, -1.35ky]

  mounting_right:
    - what: circle
      radius: insert_radius
      where:
        ref: mirror_sidepad_inner_home
        shift: [0.65kx, 1.0ky]
    - what: circle
      radius: insert_radius
      where:
        ref: mirror_sidepad_inner_home
        shift: [0.65kx, -0.85ky]
    - what: circle
      radius: insert_radius
      where:
        ref: mirror_matrix_index_home
        shift: [0.75kx, 0.8ky]
    - what: circle
      radius: insert_radius
      where:
        ref: mirror_matrix_index_home
        shift: [0.75kx, -1.35ky]

  # 5.5 STANDOFFS (Plastic Bosses)
  standoff_left:
    - what: circle
      radius: standoff_radius
      where:
        ref: sidepad_inner_home
        shift: [0.65kx, 1.0ky]
    - what: circle
      radius: standoff_radius
      where:
        ref: sidepad_inner_home
        shift: [0.65kx, -0.85ky]
    - what: circle
      radius: standoff_radius
      where:
        ref: matrix_index_home
        shift: [0.75kx, 0.8ky]
    - what: circle
      radius: standoff_radius
      where:
        ref: matrix_index_home
        shift: [0.75kx, -1.35ky]

  standoff_right:
    - what: circle
      radius: standoff_radius
      where:
        ref: mirror_sidepad_inner_home
        shift: [0.65kx, 1.0ky]
    - what: circle
      radius: standoff_radius
      where:
        ref: mirror_sidepad_inner_home
        shift: [0.65kx, -0.85ky]
    - what: circle
      radius: standoff_radius
      where:
        ref: mirror_matrix_index_home
        shift: [0.75kx, 0.8ky]
    - what: circle
      radius: standoff_radius
      where:
        ref: mirror_matrix_index_home
        shift: [0.75kx, -1.35ky]

  # 6. PLATES
  plate_left:
    - what: outline
      name: board_left
    - what: outline
      name: _cutouts
      operation: subtract
    - what: outline
      name: mounting_left
      operation: subtract

  plate_right:
    - what: outline
      name: board_right
    - what: outline
      name: _cutouts
      operation: subtract
    - what: outline
      name: mounting_right
      operation: subtract

  # 7. PREVIEW
  preview_full:
    - what: outline
      name: board_left
    - what: outline
      name: board_right
      operation: stack
    - what: outline
      name: _keycaps
      operation: stack
    - what: outline
      name: _cutouts
      operation: stack
    - what: outline
      name: mounting_left
      operation: stack
    - what: outline
      name: mounting_right
      operation: stack

cases:
  # --- LEFT COMPONENTS ---
  _floor_left:
    - what: outline
      name: xl_board_left
      extrude: 2

  _rim_left:
    - what: outline
      name: xl_board_left
      extrude: 8
    - what: outline
      name: board_left
      extrude: 8
      operation: subtract

  # --- LEFT FINAL ---
  left_bottom:
    - what: outline
      name: standoff_left
      extrude: 8
    - what: outline
      name: mounting_left
      extrude: 8
      operation: subtract
    - what: case
      name: _floor_left
      operation: add
    - what: case
      name: _rim_left
      operation: add

  left_plate:
    - what: outline
      name: plate_left
      extrude: 1.5

  # --- RIGHT COMPONENTS ---
  _floor_right:
    - what: outline
      name: xl_board_right
      extrude: 2

  _rim_right:
    - what: outline
      name: xl_board_right
      extrude: 8
    - what: outline
      name: board_right
      extrude: 8
      operation: subtract

  # --- RIGHT FINAL ---
  right_bottom:
    - what: outline
      name: standoff_right
      extrude: 8
    - what: outline
      name: mounting_right
      extrude: 8
      operation: subtract
    - what: case
      name: _floor_right
      operation: add
    - what: case
      name: _rim_right
      operation: add

  right_plate:
    - what: outline
      name: plate_right
      extrude: 1.5

pcbs:
  # --- LEFT PCB ---
  left:
    outlines:
      main:
        outline: board_left
    footprints:
      choc_hotswap:
        what: choc
        where: "/^sidepad_|^matrix_|^nav_|^thumb_/"
        params:
          keycaps: true
          reverse: true
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diode:
        what: diode
        where: "/^sidepad_|^matrix_|^nav_|^thumb_/"
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
          rotate: 180
      nicenano:
        what: nice_nano_back
        where:
          ref: matrix_index_home
          shift: [21.75, -37.42]
          rotate: 0
        params:
          orientation: down
          P006: 'P1'
          P008: 'P0'
          P017: 'P2'
          P020: 'P3'
          P022: 'P4'
          P024: 'P5'
          P100: 'P6'
          P011: 'P7'
          P104: 'P8'
          P106: 'P9'
          P009: 'P10'
          P010: 'P16'
          P111: 'P14'
          P113: 'P15'
          P115: 'P18'
          P002: 'P19'
      jstph:
        what: jstph
        where:
          ref: matrix_index_home
          shift: [10.2, -19.8]
          rotate: 90
        params:
            side: F
            pos: pos
            neg: GND
      slider:
        what: slider
        where:
            ref: matrix_index_home
            shift: [-15.8, -36.9]
            rotate: 90
        params:
            side: F
            from: pos
            to: RAW
      reset:
        what: EVQPUC
        where:
          ref: matrix_index_home
          shift: [36.9, 0]
          rotate: 0
        params:
          from: GND
          to: RST
      hole_outer_top:
        what: mountinghole
        where:
          ref: sidepad_inner_home
          shift: [0.65kx, 1.0ky]
      hole_outer_bot:
        what: mountinghole
        where:
          ref: sidepad_inner_home
          shift: [0.65kx, -0.85ky]
      hole_inner_top:
        what: mountinghole
        where:
          ref: matrix_index_home
          shift: [0.75kx, 0.8ky]
      hole_inner_bot:
        what: mountinghole
        where:
          ref: matrix_index_home
          shift: [0.75kx, -1.35ky]

  # --- RIGHT PCB ---
  right:
    outlines:
      main:
        outline: board_right
    footprints:
      choc_hotswap:
        what: choc
        where: "/^mirror_sidepad_|^mirror_matrix_|^mirror_nav_|^mirror_thumb_/"
        params:
          keycaps: true
          reverse: true
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diode:
        what: diode
        where: "/^mirror_sidepad_|^mirror_matrix_|^mirror_nav_|^mirror_thumb_/"
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
          rotate: 180
      nicenano:
        what: nice_nano_back
        where:
          ref: mirror_matrix_index_home
          shift: [21.75, 37.42]
          rotate: 180
        params:
          orientation: down
          P006: 'P1'
          P008: 'P0'
          P017: 'P2'
          P020: 'P3'
          P022: 'P4'
          P024: 'P5'
          P100: 'P6'
          P011: 'P7'
          P104: 'P8'
          P106: 'P9'
          P009: 'P10'
          P010: 'P16'
          P111: 'P14'
          P113: 'P15'
          P115: 'P18'
          P002: 'P19'
      jstph:
        what: jstph
        where:
          ref: mirror_matrix_index_home
          shift: [-10.2, -19.8]
          rotate: -90
        params:
            side: B
            pos: pos
            neg: GND
      slider:
        what: slider
        where:
            ref: mirror_matrix_index_home
            shift: [-15.8, 36.9]
            rotate: 90
        params:
            side: B
            from: pos
            to: RAW
      reset:
        what: EVQPUC
        where:
          ref: mirror_matrix_index_home
          shift: [-36.9, 0]
          rotate: 0
        params:
          from: GND
          to: RST
      hole_outer_top:
        what: mountinghole
        where:
          ref: mirror_sidepad_inner_home
          shift: [0.65kx, 1.0ky]
      hole_outer_bot:
        what: mountinghole
        where:
          ref: mirror_sidepad_inner_home
          shift: [0.65kx, -0.85ky]
      hole_inner_top:
        what: mountinghole
        where:
          ref: mirror_matrix_index_home
          shift: [0.75kx, 0.8ky]
      hole_inner_bot:
        what: mountinghole
        where:
          ref: mirror_matrix_index_home
          shift: [0.75kx, -1.35ky]
